body {
  font-family: Montserrat, sans-serif;
}

.form {
  width: 1440px;
  height: 496px;
  padding: 36px 156px;
}

.delay {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 30px;
}

.delay input {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

.delay input:hover {
  border-color: #000;
}

.delay input:focus {
  border-color: #4e75ff;
  outline: none;
}

.fieldset {
  width: 360px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 24px 48px 8px;
}

.fieldset label {
  cursor: pointer;
}

.fieldset label:first-of-type {
  margin-right: 48px;
}

.fieldset:hover {
  border-color: #000;
}

button {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

button:hover {
  background-color: #6c8cff;
}

.iziToast > .iziToast-close {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: 0;
  margin-top: 0;
  opacity: 0.6;
  width: 42px;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAJPAAACTwBcGfW0QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD3SURBVFiF1ZdtDoMgDEBfdi4PwAX8vLFn0qT7wxantojKupmQmCi8R4tSACpgjC2ICCUbEBa8ingjsU1AXRBeR8aLN64FiknswN8CYefBBDQ3whuFESy7WyQMeC0ipEI0A+0FeBvHUFN8xPaUhAH/iKoWsnXHGegy4J0yxialOfaHJAz4bhRzQzgDvdGnz4GbAonZbCQMuBm1K/kcFu8Mp1N2cFFpsxsMuJqqbIGExGl4loARajU1twskJLLhIsID7+tvUoDnIjTg5T9DPH9EBrz8rxjPzciAl9+O8SxI8CzJ8CxKFfh3ynK8Dyb8wNHM/XDqejx/AtNyPO87tNybAAAAAElFTkSuQmCC)
    no-repeat 50% 50%;
  background-size: 8px;
  cursor: pointer;
  outline: 0;
}
